@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: lightblue;
}

.heading {
    background-color: #333333;
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
  }

  .title {
    background-color: #333333;
    padding: 5px;
    color: orange;
    width: 20%;
    margin-left: 800px;
  }

  #subtitle {
    color: white;
    margin-left: 55px;
  }
  

  #playtime {
    background-color: #333333;
    color: orange;
    padding: 0px 0px 5px 5px;
    width: 20.3%;
    margin-left: 800px;
  }

  .content{
    color: orange;
  }

  .g-content {
    color: orange;
     margin-left: 800px; 
  }

  #select-game, #comment-form{
    margin-left: 800px
  }

  #showing {
    margin-left: 20px;
  }
  
  #games li::before {
    content: "";
  }

  img {
    width: 400px;
    height: 500px;
    margin-left: 800px;
  }
  
  #game-details {
    padding-bottom: 50px;
    margin-left: 10px;
  }
  