@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: lightblue;
}

.heading {
    background-color: #333333;
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
  }

  .title {
    background-color: #333333;
    padding: 5px;
    color: orange;
  }

  #playtime {
    background-color: #333333;
    color: orange;
    padding: 0px 0px 5px 5px;
  }

  .content {
    color: orange;
  }